<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">  
    <title>Proba</title>
</head>
<body class="m-0 lila">
    <div id="oldal">
        <navigacio></navigacio>
        
        <div id = "main" class="container-fluid lila py-3x">
            <!-- <%= content %> -->
            <div id = "belepes" class="container-fluid lila py-3">
                <h1><kbd>Belépés</kbd></h1>
                <input v-model="username" placeholder="Felhasználónév/Email cím">
                <input v-model = "password" placeholder="Jelszó...">
            </div>
            <div id = "reg" class="container-fluid lila py-3">
                <h1><kbd>Regisztráció</kbd></h1>
                <input v-model="username" placeholder="Felhasználónév/Email cím">
                <input v-model = "password" placeholder="Jelszó...">
    
            </div>
        </div>

        <lab></lab>
    </div>

    

    <div id = "proba">
        <div v-if="tuntesd">
            <h1>{{ udvozlom }}</h1>
            <p v-if="seen">Most latsz engem</p>
            <ol>
                <li v-for = "verseny in versenyzok">
                    {{ verseny }}
                </li>
            </ol>
        </div>
        <button v-on:click="reverseMessage">Visszafele kiírás</button>
        <button v-on:click="varazslat">{{szoveg}}</button>
    </div>

    <div id = "teendok">
        <form v-on:submit.prevent="todoAdd">
            <label for="todoList">Adjon hozza egy új feladatot</label>
            <input v-model = "newTodo" id = "todoList" placeholder = "Köszönj lajosnak!">
            <button>Add hozzá</button>
            </form>
        <ul>
            <li is = "todoItem" v-for="(todo, index) in todos" v-bind:key="todo.id" 
            v-bind:cim="todo.cim" v-on:remove="todos.splice(index,1)"></li>
        </ul>
    </div>

    


    
    <script src = "js/main.js"></script>
</body>
</html>