<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">  
    <title>Proba</title>
</head>
<body class="m-0 lila">
    <div id="oldal">
        <navigacio></navigacio>
        
        <div id = "main" class="container-fluid lila py-3">
            <!-- <%= content %> -->
            <div id = "belepes" class="container-fluid lila py-3">
                <h1><kbd>Belépés</kbd></h1>
                <input v-model="username" placeholder="Felhasználónév/Email cím">
                <input v-model = "password" placeholder="Jelszó...">
            </div>
            <div id = "reg" class="container-fluid lila py-3">
                <h1><kbd>Regisztráció</kbd></h1>
                <input v-model="nev" placeholder="Adje meg a teljes nevét">
                <input v-model="username" placeholder="Felhasználónév/Email cím">
                <input v-model = "password" placeholder="Jelszó...">
                <input v-model = "password2" placeholder="Jelszó újra...">
                <button @click = "reg"></button>
            </div>
        </div>

        <lab></lab>
    </div>
    <script src = "js/main.js"></script>
    <script src = "komponensek/components.js"></script>
</body>
</html>