.navbar-brand
{
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-link
{
    font-weight: bold;
    font-size: 1.2rem;
}

hr
{
  border-top: solid black;
  border-radius: 25%;
}

.lila
{
    background-color: rgba(102,51,153,.5);
}